# macOS System Files
.DS_Store

# Node.js modules
node_modules

# Build Artifacts
/build
/dist/
/out/

# SvelteKit Files
/.svelte-kit
frontend/.sveltekit


# Package Files
/package/

# IDE/editor-specific files or directories
/.vscode/
/.idea/
/shelf/
/workspace.xml/

# Environment Files
.env
.env.*
!.env.example

# Vite Config Files
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
docs/.vitepress/dist
docs/.vitepress/cache

# README example
rmex.md

# Editor-based HTTP Client requests
/httpRequests/

# Playwright Test results
/test-results/

# Additional Frontend-specific ignore rules
frontend/node_modules
frontend/build
frontend/dist

# Backend-specific ignore rules
backend/__pycache__
backend/*.pyc
backend/*.pyo
backend/*.pyd
backend/venv
